.Collapsible{
    background-color: #302d2b;
    color: white;
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    /* flex to center text increase font size and make larger */
    flex: 1; 
    flex-direction: row;
    justify-content: center;


    border-radius: 6px;
    margin: 7.5px;
    box-shadow: 2px 3px 4px 0px #ddd;


}

.Collapsible:hover {
    background-color: #3b3937;
}

.Collapsible__contentInner {
    padding: 0 9px;
    font-size: 1rem; 
    padding-top: 1rem;


}

.Collapsible__contentOuter {
    padding: 0 9px;
    /* set cursor to normal  */
    cursor: default;
    background-color: #413d3b;


}

.Collapsible__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-size: 1.75rem; 
    font-weight: bold;
}