.App {
  text-align: center;
}

#rocket {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  animation: bounce 2s infinite;
}

#rocketDiv {
  width: 300px;
  height: 300px;
}


@keyframes bounce {
  0%, 100% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-15deg);
  }
  15% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  35% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(0deg);
  }
}