.App {
  text-align: center;
}

#rocket {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  animation: bounce 2s infinite;
}

#rocketDiv {
  width: 300px;
  height: 300px;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}